{% extends 'base.html'%} {%load widget_tweaks%} {% block content%}
<div class="row">
    <div class="col-md-6">
        <div>
            <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">
                Authentification
            </h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Suscipit illum, voluptatem doloremque hic nisi ipsum eum, fuga
                possimus perspiciatis expedita, corrupti beatae delectus vero
                sit molestias nostrum aliquid quae magnam? Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Suscipit illum,
                voluptatem doloremque hic nisi ipsum eum, fuga possimus
                perspiciatis expedita, corrupti beatae delectus vero sit
                molestias nostrum aliquid quae magnam?
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <form
                    class="p-4 p-md-5 border bg-white rounded-4 shadow-lg"
                    method="POST"
                >
                    {%csrf_token%}
                    <div class="floatingInput mb-3">
                        <label for="floatingInput" class="form-label"
                            >Email address</label
                        >
                        <input
                            type="email"
                            name="username"
                            class="form-control"
                            id="floatingInput"
                        />
                        <!-- {% render_field form.username class="form-control" %} -->
                    </div>
                    <div class="floatingInput mb-3">
                        <label for="floatingInput" class="form-label"
                            >Enter Password</label
                        >
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            id="floatingInput"
                        />
                        <!-- {% render_field form.password class="form-control" %} -->
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        Log in
                    </button>
                    <hr />
                    <small class="text-muted"
                        >Do you have an account?
                        <a href="{% url 'register_user'%}"> Sign up</a></small
                    >
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock content%}
