

*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.heading-style{
   background-image: url('/static/assets/img/paris.png');
   height: 230px;
   margin-bottom: 20px;
  }

.offer-choice{
   font-size: 14px;
   height: 30px;
   border: 0px;
}

.small-text{
    font-size: 12px;
}

.btn-petit{
    font-size: 12px;
}

.text-petit{
    font-size: 12px;
}