

*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.heading-style{
   background-image: url('/static/assets/img/paris.png');
   opacity: 50%;
   height: 230px;
   margin-bottom: 20px;
  }

.offer-style{
    color:lightseagreen;
    font-size: large;

}