{% extends 'base.html' %} {% load static %} {% block heading%}
<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-dark">
            Panier
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
            obcaecati aspernatur, soluta nemo placeat ipsum tempore saepe,
            cupiditate deleniti a officia debitis quam id numquam veniam nisi
            provident aperiam temporibus!
        </p>
    </div>
</div>
{% endblock heading%} {% block content %} {%load widget_tweaks%}
<!-- Section-->
 <br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 px-3 mx-4">
                <p class="text-primary">
                    > Réference du panier:
                </p>
                <p class="shadow-sm p-2">
                    <small class="text-muted"> {{cart.cartUid}}</small>
                </p>
                <br>

                <div>
                    <form action="" method="POST" id="offer-form"> 
                        {% csrf_token %}
                        <input type="hidden" name="offer_id" id="offer_id" value="1" >
                        <p class="text-primary">
                                > Choisir une offre
                        </p>
                        <div class="floatingInput col-md-9 d-flex shadow-sm p-2">
                            {% render_field form.offer class="form-control text-muted offer-choice" id="target-select" %} &nbsp;&nbsp;
                            <button class="btn btn btn-info text-light rounded-4" id="btn-choisir";">Choisir</button>
                        </div>
                    </form>
                </div>
                <br><br>
                <div>
                    <p>
                        <small class="text-secondary">
                            Offre choisie
                        </small>
                    </p>
                    
                    <p class="shadow-lg p-2 rounded-4">
                        <small class="text-muted" id="selected-offer">
                            {{ cart.offer }}
                        </small>
                    </p>  
                    <p>
                        <small class="text-secondary">
                            
                            Valable pour 
                        </small>
                    </p>                   
                    <p class="shadow-lg p-2 rounded-4">
                        <small class="text-muted">
                            <span id="nbPers">
                                {{ cart.offer.nbPers }}
                            </span>
                            personne(s)
                        </small>
                    </p>                    
                
                <p>
                    <small class="text-secondary">
                        Remise
                    </small>
                </p>                    
                <p class="shadow-lg p-2 rounded-4">
                    <small class="text-muted">
                        <span id="remise">
                            {{ cart.offer.discount }} 
                        </span> %
                    </small>
                </p>                             
                <br>
            <p>
                <small class="text-primary">
                    TOTAL - 
                </small>
                <small class="text-secondary">
                    Prix pour {{ cart.offer.nbPers}} avec la remise de {{cart.offer.discount}} %
                </small>
            </p>
            <p class="shadow-lg p-2 rounded-4">
                <small id="total" class="text-muted">
                        100.00 €
                </small>
            </p>                    

    </div>
               
                    <br />
            </div>
            <div class="col-md-8 mx-3">
                    <p class="text-primary">
                        > Liste des competitions commandées 
                    </p>
                    <div class="shadow-lg p-3 rounded-4">

                    <table  class="table">
                        <thead>
                            <tr>
                                <th scope="col"><b>
                                    <small class="text-primary">
                                        #
                                    </small>
                                </th>
                                </b>
                                <th scope="col"><b>
                                    <small class="text-primary">
                                        Match
                                    </small>
                                </b></th>
                                <th scope="col"><b>
                                    <small>
                                        
                                    </small>
                                </b></th>
                                <th scope="col"><b>
                                    <small class="text-primary">
                                        Image
                                    </small>
                                </b></th>
                                <th scope="col"><b>
                                    <small class="text-primary">
                                        Lieu
                                    </small>
                                </b></th>
                                <th scope="col"><b>
                                    <small class="text-primary">
                                        Prix
                                    </small>
                                </b></th>
                            </tr>
                        </thead>
                        <!-- id 'tbody' to change the content withthe ajax data  -->
                        <tbody id="tbody-ajax">
                            {% for order in cart.orders.all %}
                            <tr>
                                <td> <small>
                                    {{order.id}}
                                </small>
                                </td>
                                <td class="text-muted">
                                    {{order.competition}}
                                </td>
                                <td>
                                    <form action="" method="POST" id="remove-form">
                                        {% csrf_token %}
                                    <input 
                                        type="button" 
                                        value="remove"
                                        class=" btn-del-ajax btn btn-sm btn-outline-danger rounded-4 text-danger" data-id="{{order.id}}">
                                    </form>
                                </td>
                        
                                <td> 
        
                                    <img
                                    src="{{order.competition.image.url }}"
                                    style="height: 4ch; border-radius: 50%; width: 40px;"
                                    />
                                
                                </td>
                                <td> <small class="text-muted">
                                    {{order.competition.place}}
                                </small>
                            </td>   
                            <td> <small id="price" class="text-muted">
                                    {{order.competition.price|floatformat:2}} €
                                    
                                </small>
                                </td>   
   
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="float-end">
                    Il y a <b>{{cart.getTotalOrders}}</b> element(s) commandés dans le panier
                </div>
                    
    </div>
</div>
            
    </div>
</section>
{% endblock content %}
<!-- Footer-->
