{% extends 'base.html' %} {% load static %} {% block heading%}


<div class="text-muted p-5">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-dark">
            Competition disponibles
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
            obcaecati aspernatur, soluta nemo placeat ipsum tempore saepe,
            cupiditate deleniti a officia debitis quam id numquam veniam nisi
            provident aperiam temporibus!
        </p>
    </div>
</div>
{% endblock heading%} {% block content %}
<!-- Section-->
<section>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        quibusdam, tempora cum distinctio commodi minus ab voluptatem dicta
        totam sit, maiores, laborum at aut in temporibus deserunt. Nostrum,
        laborum temporibus! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Doloremque asperiores natus itaque, eius necessitatibus autem
        nostrum provident excepturi sint aut vitae blanditiis iste inventore
        sequi officiis vel praesentium amet. Iste?
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 card m-3 p-3 shadow-lg" style="width: 15rem">
            <img
                class="card-img-top"
                src="{% static 'assets/img/basket.jpg' %}"
                alt=""
                class="w-25 d-block rounded-5 shadow-sm p-2"
            />
            <div class="card-body">
                <h5 class="card-title">Basket</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    nup the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-outline-primary">Panier</a>
            </div>
        </div>
        <div class="col-md-3 card m-3 p-3 shadow-lg" style="width: 15rem">
            <img
                class="card-img-top"
                src="{% static 'assets/img/fleche.jpg' %}"
                alt=""
                class="w-25 d-block rounded-5 shadow-sm p-2"
            />
            <div class="card-body">
                <h5 class="card-title">Athletisme</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-outline-primary">Panier</a>
            </div>
        </div>
        <div class="col-md-3 card m-3 p-3 shadow-lg" style="width: 15rem">
            <img
                class="card-img-top"
                src="{% static 'assets/img/poids.jpg' %}"
                alt=""
                class="w-25 d-block rounded-5 shadow-sm p-2"
            />
            <div class="card-body">
                <h5 class="card-title">Poids</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-outline-primary">Panier</a>
            </div>
        </div>
        <div class="col-md-3 card m-3 p-3 shadow-lg" style="width: 15rem">
            <img
                class="card-img-top"
                src="{% static 'assets/img/natation.jpg' %}"
                alt=""
                class="w-25 d-block rounded-5 shadow-sm p-2"
            />
            <div class="card-body">
                <h5 class="card-title">Natation</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-outline-primary">Panier</a>
            </div>
        </div>
        <div class="col-md-3 card m-3 p-3 shadow-lg" style="width: 15rem">
            <img
                class="card-img-top"
                src="{% static 'assets/img/poids.jpg' %}"
                alt=""
                class="w-25 d-block rounded-5 shadow-sm p-2"
            />
            <div class="card-body">
                <h5 class="card-title">Poids</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-outline-primary">Panier</a>
            </div>
        </div>
        <div class="col-md-3 card m-3 p-3 shadow-lg" style="width: 15rem">
            <img
                class="card-img-top"
                src="{% static 'assets/img/basket.jpg' %}"
                alt=""
                class="w-25 d-block rounded-5 shadow-sm p-2"
            />
            <div class="card-body">
                <h5 class="card-title">Poids</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-outline-primary">Panier</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
<!-- Footer-->
