{% extends 'base.html' %} {% load static %} {% block heading%}


<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-dark">
            Détail 
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
            obcaecati aspernatur, soluta nemo placeat ipsum tempore saepe,
            cupiditate deleniti a officia debitis quam id numquam veniam nisi
            provident aperiam temporibus!
        </p>
    </div>
</div>
{% endblock heading%} {% block content %}
<!-- Section-->
<section>
    <div class="row justify-content-center">

        <div class="row ">
            <small>
                <a href="{% url 'edit_competition' competition.id %}" style="text-decoration: none;">> Modifier</a> &nbsp;
                <a href="{% url 'delete_competition' competition.id %}"style="text-decoration: none;">> Supprimer</a>
        </small>
            <div class="col-md-5 shadow-lg p-3">
                <img
                class="card-img-top"
                src="{{competition.image.url }}"
            />
            </div>
            <div class="col-md-6 mx-5">

                        <small class="text-muted">Compétition de </small> 
                        <p>
                            {{ competition.title }}
                        </p>

                        <b>
                            <small class="text-muted">Lieu </small>
                            <p >{{ competition.place }}</p>
                        </b>
                <small class="text-muted">Description </small>
                <p class="card-text">
                    {{ competition.description }}
                </p>
                <small class="text-muted">Prix d'entrée</small>
                <p class="card-text">
                    {{ competition.price | floatformat:2}} €
                </p>
                <button class="btn btn-outline-primary"><a href="{% url 'add_to_cart' competition.pk %}" style="text-decoration: none;">Panier</a></button>    
            </div>

            </div>
        </div>

        
    </div>
</section>

{% endblock content %}
<!-- Footer-->
