{% extends 'base.html' %} {% load static %} {% block heading%}
<div>
    <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">
       <i class="fa-solid fa-circle-chevron-right fa-xs text-light"></i>
        Présentation des événements
    </h1>
    <p class="text-muted">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit illum,
        voluptatem doloremque hic nisi ipsum eum, fuga possimus perspiciatis
        expedita, corrupti beatae delectus vero sit molestias nostrum aliquid quae
        magnam?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit illum,
        voluptatem doloremque hic nisi ipsum eum, fuga possimus perspiciatis
        expedita, corrupti beatae delectus vero sit molestias nostrum aliquid quae
        magnam?
    </p>
</div>
{% endblock heading%} {% block content %}
<!-- Section-->
<section>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        quibusdam, tempora cum distinctio commodi minus ab voluptatem dicta
        totam sit, maiores, laborum at aut in temporibus deserunt. Nostrum,
        laborum temporibus! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Doloremque asperiores natus itaque, eius necessitatibus autem
        nostrum provident excepturi sint aut vitae blanditiis iste inventore
        sequi officiis vel praesentium amet. Iste?
        <br />
        <div class="d-flex  p-4">
            <img src="{% static 'assets/img/basket.jpg' %}" alt="" class="w-25 d-block rounded-5 shadow-sm p-2" />
            <img src="{% static 'assets/img/fleche.jpg' %}" alt="" class="w-25 d-block rounded-5 shadow-sm p-2" />
            <img src="{% static 'assets/img/natation.jpg' %}" alt="" class="w-25 d-block rounded-5 shadow-sm p-2" />
            <img src="{% static 'assets/img/poids.jpg' %}" alt="" class="w-25 d-block rounded-5 shadow-sm p-2" />
        </div>
    </div>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Voluptatum natus labore, fugit praesentium accusantium cum
        temporibus esse ipsam laboriosam? Est tempore deleniti
        dignissimos soluta a, blanditiis non.
    </div>
    </div>
    <div class="row bg-light p-5 opacity-75 m-2">
        <div class="col-md-5">
            <p class="text-muted"> <i class="fa-solid fa-circle-arrow-right"></i>
                Evenement sporitif hors norme ...</p>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tempore ut, quibusdam cumque voluptatibus rerum
            saepe quisquam sunt, voluptas, voluptatum adipisci sequi? Eligendi sequi corrupti excepturi, maiores beatae
            nostrum laboriosam?

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, ratione? Esse tempora assumenda, dicta ad
            rerum tenetur, ut, amet magnam dolor pariatur quibusdam animi repellat obcaecati quisquam molestias aliquam
            id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut incidunt, voluptas, maxime explicabo nam
            quod illo esse, accusamus cumque facere placeat reprehenderit. Provident vero, tempora natus a ipsam
            assumenda vitae?
        </div>
        <div class="col-md-7 text-center">
            <img src="{% static 'assets/img/atheltisme.jpg' %}" alt="" class="w-75 rounded-5 shadow-sm p-2" />
        </div>
    </div>
    <br>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tempore ut, quibusdam cumque voluptatibus rerum
        saepe quisquam sunt, voluptas, voluptatum adipisci sequi? Eligendi sequi corrupti excepturi, maiores beatae
        nostrum laboriosam?

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, ratione? Esse tempora assumenda, dicta ad
        rerum tenetur, ut, amet magnam dolor pariatur quibusdam animi repellat obcaecati quisquam molestias aliquam id.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut incidunt, voluptas, maxime explicabo nam quod illo
        esse, accusamus cumque facere placeat reprehenderit. Provident vero, tempora natus a ipsam assumenda vitae?
    </div>
</section>
{% endblock content %}
<!-- Footer-->