{% extends 'base.html' %} {% load static %} {% block heading%}
<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-dark">
        Facture
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
        obcaecati aspernatur, soluta nemo placeat ipsum tempore saepe,
        cupiditate deleniti a officia debitis quam id numquam veniam nisi
        provident aperiam temporibus!
    </p>
</div>
</div>
{% endblock heading%} {% block content %} {%load widget_tweaks%}
<!-- Section-->
<br>
<section>
    <div class="container">
            <p class="text-primary">
                > Réference:
                <br>
                <small class="text-muted shadow-sm">{{cart.cartUid}}</small>
            </p>
            <br>
            <p class="text-primary">
                > Client:
                <br>
                <small class="text-muted shadow-sm">{{cart.user.last_name}} &nbsp;{{cart.user.first_name}}</small>
            </p>
            <br>

            <div class="shadow-lg p-3 rounded-4">

                <div class="table">
                    <thead>
                        <tr>
                            <th scope="col"><b>
                                    <small class="text-primary">
                                        MATCH
                                    </small>
                                </b></th>
                            <th scope="col"><b>
                                    <small class="text-primary">
                                        DESCRIPTION
                                    </small>
                                </b></th>
                            <th scope="col"><b>
                                    <small class="text-primary">
                                        LIEU
                                    </small>
                                </b></th>
                            <th scope="col"><b>
                                    <small class="text-primary">
                                        Nb Personne
                                    </small>
                                </b></th>
                            <th scope="col"><b>
                                    <small class="text-primary">
                                        Prix unitaire
                                    </small>
                                </b></th>
                        </tr>
                    </thead>
                    <!-- id 'tbody' to change the content withthe ajax data  -->
                    <tbody>
                        {% for order in cart.orders.all %}
                        <tr>
                            <td> <small>
                                {{order.competition.title}}
                                </small>
                            </td>
                            <td class="col-md-5"> <small>
                                {{order.competition.description}}
                                </small>
                            </td>
                            <td> <small>
                                {{order.competition.place}}
                                </small>
                            </td>
                             <td> <small>
                                {{  cart.offer.nbPers}}
                                </small>
                            </td>
                            <td> <small>
                                {{order.competition.price}}
                                </small>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <br>
        </div>
    </div>
</section>
{% endblock content %}
<!-- Footer-->