{% extends 'base.html' %} {% load static %} {% block heading%}
<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">
       <i class="fa-solid fa-circle-chevron-right fa-xs text-light"></i>
        Facture
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
        obcaecati aspernatur, soluta nemo placeat ipsum tempore saepe,
        cupiditate deleniti a officia debitis quam id numquam veniam nisi
        provident aperiam temporibus!
    </p>
</div>
</div>
{% endblock heading%} {% block content %} {%load widget_tweaks%}
<!-- Section-->
<br>
<section>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <p class="text-info shadow p-3">
                        <i class="fa-solid fa-circle-arrow-right"></i>

                        Réference du panier: <br>
                        <small class="text-muted shadow-sm text-petit">{{cart.cartUid}}</small>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-info shadow p-3">
                        <i class="fa-solid fa-circle-arrow-right"></i>

                        Client: <br>
                        <small class="text-muted shadow-sm text-petit">{{cart.user.last_name}}
                            {{cart.user.first_name}}</small>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-info shadow p-3">
                        <i class="fa-solid fa-circle-arrow-right"></i>

                        Identification: <br>
                        <small class="text-muted shadow-sm text-petit">{{cart.user.userUid}}</small>
                    </p>
                    <br>
                </div>
            </div>

            <div class="shadow-lg p-2 rounded-4">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><b>
                                    <small class="text-info">
                                        #
                                    </small>
                            </th>
                            </b>
                            <th scope="col"><b>
                                    <small class="text-info">
                                        MATCH
                                    </small>
                                </b></th>
                            <th scope="col"><b>
                                    <small class="text-info">
                                        DESCRIPTION
                                    </small>
                                </b></th>
                            <th scope="col" class="text-center"><b>
                                    <small class="text-info">
                                        LIEU
                                    </small>
                                </b></th>
                            <th scope="col" class="text-center"><b>
                                    <small class="text-info">
                                        QTE
                                    </small>
                                </b></th>
                            <th scope="col" class="text-center"><b>
                                    <small class="text-info">
                                        PU
                                    </small>
                                </b></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in cart.orders.all %}
                        <tr>
                            <td> <small>
                                    {{order.id}}
                                </small>
                            </td>
                            <td class="text-muted col-md-2">
                                {{order.competition}}
                            </td>
                            <td class="col-md-4"> <small class="text-muted ">
                                    {{order.competition.description}}
                                </small>
                            </td>
                            <td class="col-md-2 text-center"> <small class="text-muted ">
                                    {{order.competition.place}}
                                </small>
                            </td>
                            <td class="col-md-1 text-center"> <small class="text-muted"">
                                    {{cart.offer.nbPers}} personne(s)
                                </small>
                            </td>
                            
                            <td class=" text-center"> <small class="text-muted">
                                        {{order.competition.price|floatformat:2}}

                                    </small>
                                    €
                            </td>

                        </tr>
                        {% endfor %}

                        <!-- remise  -->
                        <tr>
                            <td> <small>

                                </small>
                            </td>
                            <td class="text-muted col-md-2">

                            </td>
                            <td class="col-md-4"> <small class="text-muted ">

                                </small>
                            </td>
                            <td class="col-md-2"> <small class="text-muted ">

                                </small>
                            </td>

                            <td class="text-center"> <small class="text-muted col-md-1">
                                    REMISE

                                </small>

                            </td>
                            <td class="text-center"> <small class="text-muted ">
                                    {{cart.offer.discount}} %
                                </small>

                            </td>

                        </tr>
                        <!-- total  -->
                        <tr>
                            <td> <small>

                                </small>
                            </td>
                            <td class="text-muted col-md-2">

                            </td>
                            <td class="col-md-4"> <small class="text-muted ">

                                </small>
                            </td>
                            <td class="col-md-2"> <small class="text-muted ">

                                </small>
                            </td>

                            <td class="text-center"> <small class="text-muted col-md-1">
                                    <i class="fa-solid fa-circle-arrow-right"></i>
                                    TOTAL
                                </small>

                            </td>
                            <td class="text-center shadow rounded-4"> <small class="text-muted">
                                    {{cart.total|floatformat:2}} €
                                </small>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="float-end mx-4" >
                <i class="fa-brands fa-cc-amazon-pay fa-xl text-secondary"></i> &nbsp;
                   <a href="{% url 'payment' %}" style="text-decoration: none;" class="border rounded-4 p-3 shadow-sm bg-warning text-light ">
                   PAYER
                   </a>
            </div>

        </div>

    </div>

</section>
{% endblock content %}
<!-- Footer-->