{% extends 'base.html' %} {% load static %} {% block heading%}

<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">
        <i class="fa-solid fa-circle-chevron-right fa-xs text-light"></i>
        Competition disponibles
    </h1>
    <p class="text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, obcaecati
        aspernatur, soluta nemo placeat ipsum tempore saepe, cupiditate deleniti
        a officia debitis quam id numquam veniam nisi provident aperiam
        temporibus!
    </p>
</div>
{% endblock heading%} {% block content %}
<!-- Section-->
<section>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        quibusdam, tempora cum distinctio commodi minus ab voluptatem dicta
        totam sit, maiores, laborum at aut in temporibus deserunt. Nostrum,
        laborum temporibus! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Doloremque asperiores natus itaque, eius necessitatibus autem
        nostrum provident excepturi sint aut vitae blanditiis iste inventore
        sequi officiis vel praesentium amet. Iste?
    </div>
    <br />
    <div class="row justify-content-center">
        {% if user.is_superuser %}
        <a href="{% url 'create_competition' %}" style="text-decoration: none">
            <i class="fa-solid fa-circle-arrow-right text-info"></i>
            <span class="text-info"> Ajouter une compétition </span>
        </a>
        {% endif %} {% for competition in competitions %}
        <div class="col-md-3 card m-3 p-3 shadow-lg" style="width: 15rem">
            <img
                class="card-img-top"
                src="{{competition.image.url }}"
                class="w-25 d-block rounded-5 shadow-sm p-2"
            />
            <div class="card-body">
                <small class="text-muted">{{ competition.place }}</small>
                <h5 class="card-title">{{ competition.title }}</h5>
                <p class="card-text">
                    {{ competition.description | slice:":60" }}...
                </p>
                <a
                    href="{% url 'detail_competition' competition.id %}"
                    class="btn btn-outline-info btn-petit rounded-4 text-secondary"
                    >Detail</a
                >
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}
<!-- Footer-->
