{% extends 'base.html' %} {% load static %} {% block heading%}
<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-dark">
            Offres disponibles
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
            obcaecati aspernatur, soluta nemo placeat ipsum tempore saepe,
            cupiditate deleniti a officia debitis quam id numquam veniam nisi
            provident aperiam temporibus!
        </p>
    </div>
</div>
{% endblock heading%} {% block content %} {%load widget_tweaks%}
<!-- Section-->
<section class="container">
    <div class="row mt-4">
        <div class="col-md-5">
            <p class="offer-style">> Ajouter une offre</p>
            <br />
            <div class="w-75 borde rounded-4 shadow-lg p-4">
                <!-- Specifier la methode POST -->
                <form action="" method="POST">
                    {% csrf_token%}

                    <!-- pour le EDIT en ajax -->
                    <input type="hidden" name="stuid" id="stuid" />

                    <div class="floatingInput mb-3">
                        <label for="floatingInput" class="form-label">
                            <small> Name </small>
                        </label>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <div class="floatingInput mb-3">
                        <label for="floatingInput" class="form-label">
                            <small> Description </small>
                        </label>
                        {% render_field form.description class="form-control"%}
                    </div>
                    <div class="floatingInput mb-3">
                        <label for="floatingInput" class="form-label">
                            <small> Nombre de personne </small>
                        </label>
                        {% render_field form.nbPers class="form-control" %}
                    </div>
                    <div class="floatingInput mb-3">
                        <label for="floatingInput" class="form-label">
                            <small> Remise</small>
                        </label>
                        {% render_field form.discount class="form-control" %}
                    </div>
                    <input
                        type="button"
                        class="btn btn-sm btn-success"
                        value="Save"
                        id="btn-save"
                    />
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <p class="offer-style">> Liste des offres disponibles</p>
            <p>
                <small class="text-muted"> La liste est mis a jour dynamiquement sans rechargement de la page grace à l'appel ajax...</small>
            </p>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><b>
                            #</th>
                        </b>
                        <th scope="col"><b>
                            Nom
                        </b></th>
                        <th scope="col"><b>
                            Description
                        </b></th>
                        <th scope="col"><b>
                            Nb pers
                        </b></th>
                        <th scope="col"><b>
                            Remise
                        </b></th>
                        <th scope="col"><b>
                            Action
                        </b></th>
                    </tr>
                </thead>
                <!-- id 'tbody' to change the content withthe ajax data  -->
                <tbody id="tbody">
                    {% for offer in offers %}
                    <tr>
                        <th scope="row">{{offer.id}}</th>
                        <td>{{offer.name}}</td>
                        <td>{{offer.description}}</td>
                        <td>{{offer.nbPers}}</td>
                        <td>{{offer.discount}}</td>
                        <td>
                            <input
                                type="button"
                                value="Edit"
                                class="btn btn-outline-warning btn-edit btn-sm"
                                data-sid="{{offer.id}}"
                            />
                            <!-- 'data-sid' pour récuperer le id de l'offre concernée à supprimer-->
                            <input
                                type="button"
                                value="Delete"
                                class="btn btn-outline-danger btn-del btn-sm"
                                data-sid="{{offer.id}}"
                            />
                            <!-- 'data-sid' pour récuperer le id de l'offre concernée à supprimer-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock content %}
<!-- Footer-->
