{% extends 'base.html' %} {% load static %} {% block heading%}
<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">
        <i class="fa-solid fa-circle-chevron-right fa-xs text-light"></i>
        Paiement
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
        obcaecati aspernatur, soluta nemo placeat ipsum tempore saepe,
        cupiditate deleniti a officia debitis quam id numquam veniam nisi
        provident aperiam temporibus!
    </p>
</div>
</div>
{% endblock heading%} {% block content %} {%load widget_tweaks%}
<!-- Section-->
<br>
<section>
    <p>Merci de vériifer les informations sur votre compte bacnaires ensuite procédez au paiement</p>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12 d-flex justify-content-center h-100">
                <div class="card rounded-3 p-2 shadow" style="width: 18rem">
                    <form action="" method="POST" id="form-check-cart-payment"'>
                        {% csrf_token%}
                        <div class="card-body">
                            <p class="card-title display-7 shadow p-2 rounded-4">
                                VERIFICATION DES INFORMATIONS BANCAIRES</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="floatingInput mb-3">
                                    <label for="floatingInput" class="form-label">
                                        <small> User</small>
                                    </label>
                                    <input 
                                    type="text"
                                    value="{{request.user}}"
                                    disabled="True"
                                    >

                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="floatingInput mb-3">
                                    <label for="floatingInput" class="form-label">
                                        <small> Date de Naissance </small>
                                    </label>
                                    <input type="date"  class="form-control text-petit>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="floatingInput mb-3">
                                    <label for="floatingInput" class="form-label">
                                        <small> Carte bancaire </small>
                                    </label>
                                    {% render_field form.cardNumber class="form-control text-petit"%}
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="floatingInput mb-3">
                                    <label for="floatingInput" class="form-label">
                                        <small> Banque</small>
                                    </label>
                                    {% render_field form.bankName class="form-control text-petit"%}
                                </div>
                            </li>
                        </ul>
                        <div class="text-center">

                        <button type="submit" class="btn btn-outline-secondary rounded-4 btn-petit" id="btn-check-card" data-id={{user.id}}>Vérifer</button>
                        <p class="text-petit text-info">Information validée</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 justify-content-center h-100">
                <br>
                <br>
                    <h7>1-  Entrez les informations de votre compte bancaire pour vérification</h7>
                    <br>
                    <br>
                    <p class="shadow-sm p-2 text-petit">INFORMATION BANCAIRE A VALIDER</p>
                    <br>
                    <br>
                    <br>
                    <br><div class="text-center">

                <i class="fa-brands fa-whmcs fa-2xl opacity-25" style="font-size: 150px; color:rgb(115, 56, 96);"></i>
                    </div>
                    <br>
                    <br>
                    <br>
                    <h7> 2-  Une fois validé, procédez au paiement</h7>
                    <br>
                    <br>
                    <p class="shadow-sm p-2 text-petit">ATTENTE VALIDATION INFORMATION BANACAIRE</p>
                    <br>
                    <br>
                    <br>
            </div>
        </div>    
        <div class="col-md-4">
            <div class="col-md-12 d-flex justify-content-center h-100">
                <div class="card rounded-3 p-2 shadow" style="width: 18rem">
                    <ul class="list-group list-group-flush">
                    <div class="card-body">
                                <p class="card-title display-7 shadow p-2 rounded-4">PRESTATIONS COMMANDEES DANS LE PANIER</p>
                            </div>
                        <li class="list-group-item">
                            <p class="text-petit">Match</p>
                            {% for order in cart.orders.all %}
                            {{ order.competition}} <br>
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            <p class="text-petit">Offre</p>
                            {{cart.offer}} <br> {{cart.offer.description}} <br> remise de {{cart.offer.discount}}%
                        </li>
                        <li class="list-group-item">
                            <p class="text-petit">Total à payer</p>
                            {{cart.total|floatformat:2}} €
                        </li>
                        <br>
                        <li class="list-group-item text-center">
                        <i class="fa-brands fa-cc-amazon-pay fa-xl text-secondary"></i> &nbsp;
                    <button class="btn btn btn-outline-info rounded-4 btn-petit text-secondary"
                        id="btn-payer">PAYER</button>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</section>

{%endblock content%}

