{% extends 'base.html' %} {% load static %} {% block heading%}
<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">
        <i class="fa-solid fa-circle-chevron-right fa-xs text-light"></i>
        Paiement
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
        obcaecati aspernatur, soluta nemo placeat ipsum tempore saepe,
        cupiditate deleniti a officia debitis quam id numquam veniam nisi
        provident aperiam temporibus!
    </p>
</div>
</div>
{% endblock heading%} {% block content %} {%load widget_tweaks%}
<!-- Section-->
<br>
<section>
    <p>Merci de vériifer les informations sur votre compte bacnaires ensuite procédez au paiement</p>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12 d-flex justify-content-center h-100">
                <div class="card rounded-3 p-2 shadow" style="width: 18rem">
                    <form action="" method="POST" id="form-check-cart-payment"'>
                        {% csrf_token%}
                        <div class="card-body">
                            <p class="card-title display-7 shadow p-2 rounded-4">
                                VERIFICATION DES INFORMATIONS BANCAIRES</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="floatingInput mb-3">
                                    <label for="floatingInput" class="form-label">
                                        <small> User</small>
                                    </label>
                                    <input 
                                    type="text"
                                    value="{{request.user}}"
                                    disabled="True"
                                    >
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="floatingInput mb-3">
                                    <label for="floatingInput" class="form-label">
                                        <small> Date de Naissance </small>
                                    </label>
                                    <input type="date"class="form-control text-petit" id="check-birthdate">
                                    <span style="float: right" id="status-birthdate"></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="floatingInput mb-3">
                                    <label for="floatingInput" class="form-label" >
                                        <small> Carte bancaire </small>
                                    </label>
                                    {% render_field form.cardNumber class="form-control text-petit" id="check-accountNb"%}
                                    <span style="float: right" id="status-cardNumber"></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="floatingInput mb-3">
                                    <label for="floatingInput" class="form-label" >
                                        <small> Banque</small>
                                    </label>
                                    {% render_field form.bankName class="form-control text-petit" id="check-bankName"%}
                                    <span style="float: right" id="status-bankName"></span>

                                </div>
                            </li>
                        </ul>
                        <div class="text-center">

                        <button type="submit" class="btn btn-outline-info text-petit text-secondary rounded-4 shadow-sm" id="btn-check-card" data-id={{user.id}}>VERIFIER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 justify-content-center h-100">
                <br>
                <br>
                    <h7>1-  Entrez les informations de votre compte bancaire pour vérification</h7>
                    <br>
                    <p class="shadow-sm p-2 text-petit" style="letter-spacing: 4px;">INFORMATION BANCAIRE A VALIDER                     <span style="float: right" id="all-checked"</span>
</p>

                    <br>
                    <br><div class="text-center">
                <span id="checked-circle">
                    <i class="fa-solid fa-circle-check " style="font-size: 150px; color:rgb(245, 240, 244); opacity: 40%;"></i>
                </span>
                    </div>
                    <br>
                    <br>
                    <h7> 2-  Une fois validé, procédez au paiement. </h7>
                    <br>
                    <br>
                    <span id="proceed-payment" class="text-center"></span>
                    <br>
                    <br>
                    <br>
            </div>
        </div>    
        <div class="col-md-4">
            <div class="col-md-12 d-flex justify-content-center h-100">
                <div class="card rounded-3 p-2 shadow" style="width: 18rem">
                    <ul class="list-group list-group-flush">
                    <div class="card-body">
                                <p class="card-title display-7 shadow p-2 rounded-4">PRESTATIONS COMMANDEES DANS LE PANIER</p>
                            </div>
                        <li class="list-group-item">
                            <p class="text-petit">Match</p>
                            {% for order in cart.orders.all %}
                            {{ order.competition}} <br>
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            <p class="text-petit">Offre</p>
                            {{cart.offer}} <br> {{cart.offer.description}} <br> remise de {{cart.offer.discount}}%
                        </li>
                        <li class="list-group-item">
                            <p class="text-petit">Total à payer</p>
                            {{cart.total|floatformat:2}} €
                        </li>
                        <br>
                        <li class="list-group-item text-center">
                        <div>
                             <a href="{% url 'home' %}">        
                                <span id="payment-btn">
                                </span>
                            </a>
                        </div>
                        
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</section>

{%endblock content%}



 




 