{% extends 'base.html' %} {% load static %} {% block heading%}
<div class="text-muted">
    <h1 class="display-3 fw-bold lh-1 mb-3 text-secondary">
        <i class="fa-solid fa-circle-chevron-right fa-xs text-light"></i>
        Ticket
    </h1>
    <p>
        Vous trouverez ci-dessous votre ticket. Vous pouvez l'utiliser sur votre téléphone, l'imprimer sur un papier, soit l'enregistrer en tant que fichier image 'png' en faisant un click droit ensuite enregistrer dans un dossier 
    </p>
</div>
</div>
{% endblock heading%} {% block content %} {%load widget_tweaks%}
<!-- Section-->
<br>
<section>
    <div class="p-2 text-center">
        <br>
        <p>Merci de trouver ci-apres votre ticket</p>
        {% if img_name %}
        <div>
            <img src="/media/{{ img_name }}" alt="qr code" class="col-md-6" style="height: 300px; width: 300px;">
        </div>
        {% endif %}
    </div>
</section>

{%endblock content%}