{% load static%}

<nav class="navbar navbar-expand-lg nav-style">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}">
            <img
                src="{% static 'assets/img/logo.jpg' %}"
                alt=""
                class="w-25 shadow rounded-4"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        aria-current="page"
                        href="{% url 'home' %}"
                        >Accueil</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_competition' %}"
                        >Competition</a
                    >
                </li>
                {% if request.user.is_authenticated %}

                <li class="nav-item">
                    <a
                        class="nav-link btn btn-light"
                        href="{% url 'cart' %}"
                        type="button"
                    >
                        Panier {% if cart == None %}
                        <span
                            class="badge badge-light bg-success text-light rounded-4"
                            id="cart-qty"
                        >
                            0
                        </span>

                        {% else %}
                        <span
                            class="badge badge-light bg-success text-light rounded-4"
                            id="cart-qty"
                        >
                            {{cart.orders.count}}</span
                        >
                        {% endif %}
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle shadow-sm rounded-3 text-warning text-petit"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        ADMIN panel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'offer'%}"
                                >Gérér offre</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'list_competition'%}"
                                >Gérér competition</a
                            >
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"
                                >Something else here</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Profil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'create_profile' %}"
                                >Créer</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'user_profile' request.user %}"
                                >Info</a
                            >
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
            </ul>

            <div class="d-flex">
                {% if request.user.is_authenticated %}
                <p class="text-petit text-muted mt-2 shadow">
                    {{request.user}}
                </p>
                &nbsp;

                <a href="{% url 'logout'%}">
                    <button
                        class="btn btn-sm btn-outline-success btn-text rounded-4 mx-1"
                    >
                        Logout
                    </button>
                </a>
                {% else %}
                <a href="{% url 'login'%}">
                    <button
                        class="btn btn-sm btn-outline-success btn-text rounded-4 mx-1"
                    >
                        Login
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
